<!DOCTYPE html>
<html 
lang="en" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/manager_layout.html}"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<title>테이블업 - 매장 관리 및 매장 정보</title>
	
  </style>
</head>
<body>
	<main layout:fragment="content" class="container">
		<div>			
			<h2 class="mb-4 fw-bold text-primary">메뉴 정보</h2>

			<div class="input-group form-group menu-img">
				<img th:src="@{/file/{menuImage}(menuImage=${menu.mn_img})}" alt="이미지 없음" width="100%" ></img>
			</div>
			<div>
				<h1 th:text="${menu.mn_name}">메뉴 이름</h1>
				<h3 class="menu-price" th:text="${#numbers.formatInteger(menu.mn_price, 3, 'COMMA')} + '원'"></h3>
				<div class="input-group form-group">
					<div class="form-control col-3">메뉴 구분:</div>
					<div class="form-control" th:text="${menutype.mt_name}"></div>
				</div>
				<div class="input-group form-group">
					<div class="form-control col-3">메뉴 설명:</div>
					<div class="form-control" th:text="${menu.mn_content}"></div>
				</div>
				<div class="input-group form-group">
					<div class="form-control col-3">메뉴 색인:</div>
					<div class="form-control" th:text="${menu.mn_div}"></div>
				</div>
			</div>
			<div>
				<!-- <button type="button" class="btn btn-outline-warning col-12 mb-3" onclick="location.href='/manager/remake_menu'">메뉴 정보 변경</button> -->
				<a th:href="@{/manager/remake_menu(mn_num=${menu.mn_num})}"class="btn btn-outline-warning col-12 mb-3">메뉴 정보 변경</a>
				<form th:action="@{/manager/menu/delete_menu/{mn_num}(mn_num=${menu.mn_num})}"  method="post">
					<button type="submit" class="btn btn-outline-danger col-12 mb-3" onclick="return confirm('정말 삭제하시겠습니까?');">메뉴 삭제</button>
				</form>
				
			</div>
			 <a th:href="@{/manager/menulist/{rt_num}(rt_num=${menu.mn_rt_num})}" class="btn btn-outline-secondary col-12 mb-3">메뉴 목록으로</a>
		</div>
	</main>
</body>
</html>