<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout_admin.html}">
<head>
  <title layout:fragment="title">관리자 페이지</title>
</head>
<body>
  <div layout:fragment="content" class="container mt-4">
    <div class="row justify-content-center g-2 mb-4" style="max-width:400px;">
      <div class="col-6 d-grid">
        <a href="/admin/region" class="btn btn-primary btn-lg">지역 추가</a>
      </div>
      <div class="col-6 d-grid">
        <a href="/admin/detailregion" class="btn btn-primary btn-lg">지역 상세 추가</a>
      </div>
      <div class="col-6 d-grid">
        <a href="/admin/tag" class="btn btn-primary btn-lg">태그 추가</a>
      </div>
      <div class="col-6 d-grid">
        <a href="/admin/tagtype" class="btn btn-primary btn-lg">태그 타입 추가</a>
      </div>
      <div class="col-6 d-grid">
        <a href="/admin/facility" class="btn btn-primary btn-lg">편의시설 추가</a>
      </div>
      <div class="col-6 d-grid">
        <a href="/admin/menutype" class="btn btn-primary btn-lg">메뉴 분류 추가</a>
      </div>
      <div class="col-6 d-grid">
        <a href="/admin/facility" class="btn btn-primary btn-lg">음식 종류<br>대분류 추가</a>
      </div>
      <div class="col-6 d-grid">
        <a href="/admin/facility" class="btn btn-primary btn-lg">음식 종류<br>소분류 추가</a>
      </div>
    </div>
  </div>
</body>
</html>