<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.tableup.dao.AdminDAO">
	<insert id="insertAdmin" parameterType="kr.kh.tableup.model.vo.AdminVO">
		INSERT INTO Admin (ad_id, ad_pw)
		VALUES (#{ad_id}, #{ad_pw})
	</insert>
	<select id="selectUser" parameterType="String" resultType="AdminVO">
		SELECT * FROM admin
		WHERE ad_id = #{username}
	</select>
	<insert id="insertRegion" parameterType="String">
  	INSERT INTO region (reg_main)
  	VALUES (#{name})
	</insert>
	<insert id="insertDetailRegion" parameterType="String">
  	INSERT INTO detailregion (dreg_sub)
  	VALUES (#{name})
	</insert>
	<insert id="insertTag" parameterType="String">
		INSERT INTO tag (tag_name, tag_tt_num)
		VALUES (#{name}, 1)
	</insert>

	<select id="selectRegionList" resultType="String">
		SELECT reg_main FROM region
	</select>
	<select id="selectDetailRegionList" resultType="String">
		SELECT dreg_sub FROM detailregion
	</select>
	<select id="selectTagList" resultType="String">
		SELECT tag_name FROM tag
	</select>

</mapper>