<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.tableup.dao.BusinessHourDAO">
	<!-- 좌석 추가 -->
	<update id="updateCurrentSeat">
		UPDATE BusinessHour
		SET bh_seat_current = #{seat}
		WHERE bh_num = #{bh_num}
	</update>

	<select id="selectBusinessHourByBh_start" resultType="BusinessHourVO">
		select * from businesshour where bh_start = #{time}
	</select>

</mapper>