<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.tableup.dao.ManagerDAO">

	<resultMap id="FileVOtMap" type="FileVO">
    <id column="file_num" property="file_num"/>
    <result column="file_path" property="file_path"/>
    <result column="file_name" property="file_name"/>
    <result column="file_type" property="file_type"/>
    <result column="file_foreign" property="file_foreign"/>
    <result column="file_tag" property="file_tag" />
    <result column="file_res_num" property="file_res_num"/>
</resultMap>


	<resultMap id="resDetailMap" type="RestaurantVO">
		<!-- restaurant -->
		<result column="rt_num" property="rt_num"/>
		<result column="rt_name" property="rt_name"/>
		<result column="rt_dreg_num" property="rt_dreg_num"/>
		<result column="rt_dfc_num" property="rt_dfc_num"/>
		<result column="rt_closed_days" property="rt_closed_days"/>
		<result column="rt_price_lunch" property="rt_price_lunch"/>
		<result column="rt_price_dinner" property="rt_price_dinner"/>
		<result column="rt_accept" property="rt_accept"/>
		<result column="rt_description" property="rt_description"/>
		<result column="rt_max_table" property="rt_max_table"/>
		<result column="rt_max_person" property="rt_max_person"/>

		<!-- restaurantdetail -->
		<result column="rd_num" property="rd_num"/>
		<result column="rd_rt_num" property="rd_rt_num"/>
		<result column="rd_phone" property="rd_phone"/>
		<result column="rd_closed_days" property="rd_closed_days"/>
		<result column="rd_info" property="rd_info"/>
		<result column="rd_home" property="rd_home"/>
		<result column="rd_addr" property="rd_addr"/>

		<result column="dreg_reg_num" property="reg_num"/>

		<result column="dfc_fc_num" property="fc_num"/>
	</resultMap>
	
	<select id="selectManagerList" resultType="RestaurantManagerVO">
		select * from restaurantmanager
	</select>

	<insert id="insertManager">
		insert into restaurantmanager (rm_id, rm_pw, rm_email, rm_name, rm_phone, rm_business)
		values (#{rm_id},#{rm_pw},#{rm_email},#{rm_name},#{rm_phone},#{rm_business})
	</insert>

	<select id="findById" resultType="RestaurantManagerVO">
		select * from restaurantmanager where rm_id=#{username}
	</select>

	<select id="selectManager" resultType="RestaurantManagerVO">
		select * from restaurantmanager where rm_id=#{rm_id}
	</select>

	<select id="selectRestaurant" resultType="RestaurantVO">
		select * from restaurant 
		join restaurantmanager on rm_rt_num = rt_num
		where rm_num=#{rm_num}
	</select>

	<select id="selectFoodCategoryList" resultType="FoodCategoryVO">
		select * from foodcategory
	</select>

	<select id="selectRegionList" resultType="RegionVO">
		select * from region
	</select>

	<select id="selectDetailFoodList" resultType="DetailFoodCategoryVO">
		select * from detailfoodcategory
	</select>

	<select id="selectDetailRegionList" resultType="DetailRegionVO">
		select * from detailregion
	</select>

	<select id="selectDetailByFcNum" resultType="DetailFoodCategoryVO">
		select * from detailfoodcategory where dfc_fc_num=#{fc_num}
	</select>

	<select id="selectDetailByRegNum" resultType="DetailRegionVO">
		select * from detailregion where dreg_reg_num=#{reg_num}
	</select>

	<!--레스토랑 테이블에 값들을 입력-->
	<insert id="insertRestaurant" useGeneratedKeys="true" keyProperty="rt_num">
		insert into restaurant
			(rt_name, rt_closed_days, rt_price_lunch, rt_price_dinner,
			 rt_accept, rt_dfc_num, rt_dreg_num, rt_description)
		value(#{rt_name},#{rt_closed_days},#{rt_price_lunch},#{rt_price_dinner}
					,'N',#{rt_dfc_num},#{rt_dreg_num},#{rt_description})
	</insert>

	<update id="updateManagerRtNum">
		update restaurantmanager set rm_rt_num=#{rt_num}
		where rm_num=#{rm_num}
	</update>

	<select id="selectMenuList" resultType="MenuVO">
		select * from `menu` where mn_rt_num=#{rt_num}
	</select>

	<select id="selectMenuTypeList" resultType="MenuTypeVO">
		select * from menutype
	</select>

	<insert id="insertMenu" useGeneratedKeys="true" keyProperty="mn_num">
		insert into `menu`(mn_name, mn_price, mn_content, mn_mt_num, mn_rt_num, mn_div)
		value(#{mn_name}, #{mn_price}, #{mn_content}, #{mn_mt_num}, #{mn_rt_num}, #{mn_div})
	</insert>

	<update id="updateMenu">
		update `menu` set mn_name=#{mn_name},
			<choose>
				<when test="mn_img == null">
					mn_img=mn_img,
				</when>
				<otherwise>
					mn_img=#{mn_img},
				</otherwise>
			</choose>
		mn_price=#{mn_price},
		mn_content=#{mn_content},
		mn_mt_num=#{mn_mt_num},
		mn_rt_num=#{mn_rt_num},
		mn_div=#{mn_div}
		where mn_num=#{mn_num}
	</update>

	<select id="selectMenu" resultType="MenuVO">
		select * from `menu` where mn_num=#{mn_num}
	</select>

	<select id="selectMenuType" resultType="MenuTypeVO">
		select * from `menutype` where mt_num=#{mn_mt_num}
	</select>

	<delete id="deleteMenu">
		delete from menu where mn_num = #{mn_num}
	</delete>

	<!-- 매장 상세정보 -->
	<select id="selectResDetail" resultMap="resDetailMap">
		SELECT restaurant.*, restaurantdetail.*,
			detailregion.dreg_reg_num, detailfoodcategory.dfc_fc_num
		FROM restaurant
		LEFT JOIN detailregion ON restaurant.rt_dreg_num = dreg_num
		LEFT JOIN detailfoodcategory ON restaurant.rt_dfc_num = dfc_num
		LEFT JOIN restaurantdetail ON restaurant.rt_num = rd_rt_num
		WHERE restaurant.rt_num = #{rt_num}
	</select>

	<insert id="insertResDetail" useGeneratedKeys="true" keyProperty="rd_num">
		insert into restaurantdetail(rd_rt_num, rd_phone, rd_closed_days, rd_info, rd_home, rd_addr)
		value(#{rd_rt_num},#{rd_phone},#{rd_closed_days},#{rd_info},#{rd_home},#{rd_addr})
	</insert>

	<update id="updateDetail">
		update restaurantdetail set
			rd_phone = #{rd_phone}, 
			rd_closed_days = #{rd_closed_days}, 
			rd_info = #{rd_info}, 
			rd_home = #{rd_home}, 
			rd_addr = #{rd_addr}
		where rd_rt_num=#{rd_rt_num}
	</update>

	<!-- 쿠폰 -->
	<select id="selectCouponList" resultType="ResCouponVO">
		select * from rescoupon where rec_rt_num=#{rt_num}
	</select>

	<insert id="insertCoupon" useGeneratedKeys="true" keyProperty="rec_num">
		insert into rescoupon (rec_content, rec_state, rec_period, rec_rt_num)
		value (#{rec_content},#{rec_state},#{rec_period},#{rec_rt_num})
	</insert>

	<update id="updateCoupon">
		update rescoupon set
			rec_content = #{rec_content}, 
			rec_state = #{rec_state}, 
			rec_period = #{rec_period}
		where rec_num=#{rec_num}
	</update>

	<delete id="deleteCoupon">
		delete from rescoupon where rec_num=#{rec_num}
	</delete>

	<!-- 소식 -->
	<select id="selectNewsList" resultType="ResNewsVO">
		select * from resnews where rn_rt_num=#{rt_num}
	</select>

	<!-- 예약 시간 -->
	<select id="selectResTimeList" resultType="BusinessHourVO">
		select * from businesshour where bh_rt_num=#{rt_num}
	</select>

	<select id="checkResTime" resultType="BusinessHourVO">
		select * from businesshour where bh_rt_num = #{bh_rt_num} and bh_start = #{bh_start} and bh_end = #{bh_end}
	</select>

	<insert id="insertResTime" useGeneratedKeys="true" keyProperty="bh_num">
		insert into businesshour
			(bh_start, bh_end, bh_seat_max, bh_seat_current, bh_table_max, bh_table_current, bh_state, bh_rt_num)
		value(#{bh_start_ts}, #{bh_end_ts}, #{bh_seat_max}, 0, #{bh_table_max}, 0, #{bh_state}, #{bh_rt_num})
	</insert>

	<select id="selectBusinessHour" resultType="BusinessHourVO">
		select * from businesshour where bh_num=#{bh_num}
	</select>

	<update id="updateResTime">
		update businesshour set
			bh_start = #{bh_start}, 
			bh_end = #{bh_end}, 
			bh_seat_max = #{bh_seat_max}, 
			bh_table_max = #{bh_table_max},
			bh_state = #{bh_state}
		where bh_num=#{bh_num}
	</update>

	<delete id="deleteResTime">
		delete from businesshour where bh_num = #{bh_num}
	</delete>

	<select id="selectOperTimeList" resultType="BusinessDateVO">
		select * from businessdate where bd_rt_num=#{rt_num} order by bd_date desc
	</select>

	<insert id="insertOperTime" useGeneratedKeys="true" keyProperty="bd_num">
		insert into `businessdate`
			(bd_date, bd_off, bd_open, bd_close, bd_brstart, bd_brend, bd_loam, bd_lopm, bd_rt_num)
		value
			(#{bd_date}, #{bd_off}, #{bd_open},
			 #{bd_close}, #{bd_brstart}, #{bd_brend},
			 #{bd_loam}, #{bd_lopm}, #{bd_rt_num})
	</insert>
	
	<insert id="insertOperTimeStamp" useGeneratedKeys="true" keyProperty="bd_num">
		insert into `businessdate`
			(bd_date, bd_off, bd_open, bd_close, bd_brstart, bd_brend, bd_loam, bd_lopm, bd_rt_num)
		value
			(#{bd_date}, #{bd_off}, #{bd_open_ts},
			 #{bd_close_ts}, #{bd_brstart_ts}, #{bd_brend_ts},
			 #{bd_loam_ts}, #{bd_lopm_ts}, #{bd_rt_num})
	</insert>

	<select id="selectBuisnessDate" resultType="BusinessDateVO">
		select * from businessdate where bd_num=#{bd_num}
	</select>

	<update id="updateOperTime">
		update businessdate set
			bd_date = #{bd_date}, 
			bd_off = #{bd_off}, 
			bd_open = #{bd_open}, 
			bd_close = #{bd_close}, 
			bd_brstart = #{bd_brstart}, 
			bd_brend = #{bd_brend}, 
			bd_loam = #{bd_loam}, 
			bd_lopm = #{bd_lopm}
		where bd_num = #{bd_num}
	</update>

	<delete id="deleteOperTime">
		delete from businessdate where bd_num =#{bd_num}
	</delete>

	<select id="selectCoupon" resultType="ResCouponVO">
		select * from rescoupon where rec_num=#{rec_num}
	</select>

	<insert id="insertNews" useGeneratedKeys="true" keyProperty="rn_num">
		insert into resnews (rn_content, rn_state, rn_rt_num)
		value (#{rn_content}, #{rn_state}, #{rn_rt_num})
	</insert>

	<select id="selectResNews" resultType="ResNewsVO">
		select * from resnews where rn_num=#{rn_num}
	</select>
	
	<update id="updateNews">
		update resnews set
			rn_content = #{rn_content}, 
			rn_state = #{rn_state}
		where rn_num=#{rn_num}
	</update>

	<delete id="deleteNews">
		delete from resnews where rn_num=#{rn_num}
	</delete>

	<select id="selectTemplateList" resultType="BusinessHourTemplateVO">
		select * from businessHourtemplate where bhd_rt_num = #{rt_num}
	</select>

	<update id="updateManagerInfo">
		update restaurantmanager set
			rm_email = #{rm_email},
			rm_name = #{rm_name},
			rm_phone = #{rm_phone}
		where rm_num = #{rm_num}
	</update>
	<select id="selectFacilityList" resultType="FacilityVO">
		select * from facility 
	</select>

	<select id="selectResFacilityList" resultType="RestaurantFacilityVO">
		select * from restaurantfacility where rf_rt_num=#{rt_num}
	</select>

	<insert id="insertResFacility" useGeneratedKeys="true" keyProperty="rf_num">
		insert into restaurantfacility (rf_fa_num, rf_detail, rf_rt_num)
		value(#{rf_fa_num}, #{rf_detail}, #{rf_rt_num})
	</insert>
	
	<update id="updateResFacility">
		update restaurantfacility set
			<if test="rf_fa_num != 0">
				rf_fa_num = #{rf_fa_num}, 
			</if>
			rf_detail=#{rf_detail}
		where rf_num=#{rf_num}
	</update>

	<select id="selectResFacility" resultType="RestaurantFacilityVO">
		select * from restaurantfacility where rf_num=#{rf_num}
	</select>

	<delete id="deleteResFacility">
		delete from restaurantfacility where rf_num=#{rf_num}
	</delete>

	<!-- 매장 대표 이미지 등록 -->
	<insert id="insertFile" parameterType="kr.kh.tableup.model.vo.FileVO">
		insert into file(file_path, file_name, file_type, file_foreign, file_tag, file_res_num)
		value(#{file_path}, #{file_name}, #{file_type}, #{file_foreign}, #{file_tag}, #{file_res_num})
	</insert>

	<!-- 등록한 매장 대표 이미지 모두 출력 -->
	<select id="selectFileList" resultType = "FileVO">
		select * from file where file_res_num = #{rm_rt_num}
	</select>

	<!-- 매장에 등록된 대표이미지 삭제-->
	<delete id="deletefile">
		delete from file where file_res_num = #{rt_num}
	</delete>

	<update id="updateRestaurant">
		update restaurant set
			rt_name = #{rt_name}, 
			rt_closed_days = #{rt_closed_days}, 
			rt_price_lunch = #{rt_price_lunch}, 
			rt_price_dinner = #{rt_price_dinner},
			rt_dfc_num = #{rt_dfc_num}, 
			rt_dreg_num = #{rt_dreg_num}, 
			rt_description = #{rt_description}
		where
			rt_num=#{rt_num}
	</update>

	<!-- 쿠폰 기간 만료 및 지났을 경우 비공개 전환 -->
	<select id="getExpiredCoupons" resultType="ResCouponVO">
		select * from rescoupon where rec_period = #{now}
	</select>

	<update id="updateCouponState">
		update rescoupon set
			rec_state = #{rec_state}
		where rec_period =#{rec_period} 
	</update>

	

	
</mapper>