<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.tableup.dao.RestaurantDAO">

  <select id="selectRestaurantByNum" parameterType="int" resultType="kr.kh.tableup.model.vo.RestaurantVO">
    SELECT * FROM restaurant WHERE rt_num = #{rt_num}
  </select>

  <select id="selectRestaurantDetailList" resultType="RestaurantDetailVO">
    select * from restaurantdetail where rd_rt_num = #{rt_num}
  </select>

</mapper>