<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.tableup.dao.UserDAO">
	<select id="selectUser" resultType="userVO">
		select * from User where us_num = #{us_num}
	</select>
	<select id="selectUserById" resultType="userVO">
		select * from User where us_id = #{us_id}
	</select>
	<insert id="insertUser">
		INSERT INTO User (
			us_id,
			us_pw, 
			us_name, 
			us_phone, 
			us_email, 
			us_nickname, 
			us_sociallogin
		)
		VALUES (
			#{us_id}, 
			#{us_pw}, 
			#{us_name}, 
			#{us_phone}, 
			#{us_email}, 
			#{us_nickname}, 
			#{us_sociallogin}
		)
	</insert>
	<update id="updateUserInfo" parameterType="userVO">
    UPDATE User
    SET us_nickname = #{us_nickname},
			us_email = #{us_email},
			us_phone = #{us_phone}
    WHERE us_id = #{us_id}
	</update>
	<select id="selectUserByPhone" resultType="kr.kh.tableup.model.vo.UserVO">
		SELECT * FROM user WHERE us_phone = #{phone}
	</select>
	<select id="selectUserByEmail" resultType="kr.kh.tableup.model.vo.UserVO">
		SELECT * FROM user WHERE us_email = #{email}
	</select>

	<select id="selectReviewByUser" resultType="kr.kh.tableup.model.vo.ReviewVO">
		SELECT * FROM review 
		LEFT JOIN user ON us_num = rev_us_num
		LEFT JOIN restaurant ON rt_num = rev_rt_num
		WHERE rev_us_num = #{us_num} and rev_state = 0
	</select>

	<select id="selectReservationByUser" resultType="kr.kh.tableup.model.vo.ReservationVO">
		SELECT * FROM Reservation 
		LEFT JOIN user ON us_num = res_us_num
		LEFT JOIN restaurant ON rt_num = res_rt_num
		WHERE res_us_num = #{us_num}
	</select>

	<select id="selectFollowedRestaurant" resultType="kr.kh.tableup.model.vo.RestaurantVO">
		select * from usfollow 
		join restaurant on uf_foreign = rt_num
		where uf_type = 'RESTAURANT' and uf_us_num = #{us_num} 
	</select>

	<select id="selectFollowedReview" resultType="kr.kh.tableup.model.vo.ReviewVO">
		select * from usfollow 
		join REVIEW on uf_foreign = rev_num
		join restaurant on rt_num = rev_rt_num
		join user on us_num = rev_us_num
		where uf_type = 'REVIEW' and uf_us_num = #{us_num} 
	</select>

</mapper>