<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout.html}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>예약</title>
    <style></style>
  </head>
  <body>
    <main layout:fragment="content">
      <div class="container">
        <h2 class="mt-4">예약 확인</h2>
        <p>식당명: <span th:text="${restaurant.rt_name}"></span></p>
        <p>예약 날짜: <span th:text="${date}"></span></p>
        <p>예약 시간: <span th:text="${time}"></span></p>
        <p>인원수: <span th:text="${person}"></span></p>


        <form th:action="@{/user/reservation/submit}" method="post">
          <input type="hidden" name="rt_num" th:value="${rt_num}" />
          <input type="hidden" name="date" th:value="${date}" />
          <input type="hidden" name="time" th:value="${time}" />
          <input type="hidden" name="person" th:value="${person}" />

          <label>요청 사항</label>
          <textarea name="request" class="form-control mb-3" rows="3"></textarea>

          <button type="submit" class="btn btn-primary">예약 확정</button>
        </form>
      </div>
    </main>
  </body>
</html>
