<!DOCTYPE html>
<html 
lang="ko" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/manager_layout.html}"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <!-- <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.css" rel="stylesheet"> -->
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/locales-all.global.min.js"></script>
	<title>테이블업 - 매니저페이지</title>
	<style>
  
  </style>
</head>
<body>
	<main layout:fragment="content">
    <div class="container">
      <h1>예약 현황</h1>
      <div id='calendar'></div>
    </div>
    <div class="modal fade" id="dateModal" tabindex="-1" aria-labelledby="dateModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="dateModalLabel">
              <p><strong id="selectedDate">-</strong>예약 현황</p>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
          </div>
          <div class="modal-body" id="modalBody">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>
		<script>
      /***************************************
      * 문구 변경시 여기를 수정해주세요.
      ****************************************/
      //예약 상태 관련 문구
      const readyState = "예약 대기", cancelState = "예약 취소", confirmState = "예약 확정";
      //0번지 : 취소, 1번지 : 대기, 2번지 : 확정. 상태에 따른 색상 설정
      const colorList = ['red', 'green', 'skyblue']; //convertReservationToObject 함수에서 사용

      /***************************************************
       * 화면 구성 시 여기를 수정해주세요
      ****************************************************/
      //달력에서 날짜 클릭 시 등록된 예약 목록을 출력하는 함수. 
      function viewModal(info){
        const selectedDateEl = document.getElementById('selectedDate');
        selectedDateEl.textContent = info.dateStr;
        const dateModal = new bootstrap.Modal(document.getElementById('dateModal'));
        dateModal.show();
        let list = getReservateionList(info.dateStr);
        let str = '';
        list.forEach(res=>{
          let obj = convertReservationToObject(res);
          str += 
          `
            <div>
              <div>${obj.time}</div>
              <div>${obj.user}(${obj.person}명)</div>
              <div>${obj.state}</div>
            </div>
            <div>
              ${obj.res_state == 0 ? '<button type="button" class="btn btn-outline-success">'+confirmState+'</button>' : ''}
              ${obj.res_state >= 0 ? '<button type="button" class="btn btn-outline-danger">'+cancelState+'</button>' : ''}
            </div>
          `
        })
        str = str.length == 0 ? "예약이 없습니다." : str;
        $("#modalBody").html(str);
      }

      /***************************************
       * 변환 함수들 : 코드의 재사용을 위해 만듬
      ****************************************/
      /***************************************
       * 함수 : num 앞에 0으로 채워 반환. 글자 길이를 size 기준으로
       * 예시 : 5 => 05로 변환
      ****************************************/
      function fillZero(num, size) {
        return num.toString().padStart(size, '0');
      }
      /***************************************
       * 함수 : Date객체를 yyyy-MM 문자열로 변환
      ****************************************/
      function convertDateToString(date){
        const year = date.getFullYear();
        const month = fillZero(date.getMonth() + 1, 2); 
        return `${year}-${month}`;
      }
      /***************************************
       * 함수 : [yyyy, M, d] 년, 월, 일이 들어 있는 배열을 yyyy-MM-dd 문자열로 변환
       * 예시 : [2025,5,15] => 2025-05-15
      ****************************************/
      function convertArrayToDateString(arr){
        const year = arr[0];
        const month = fillZero(arr[1],2); 
        const date = fillZero(arr[2],2); ; 
        return `${year}-${month}-${date}`;
      } 
      /***************************************
       * 함수 : 날짜를 기준으로 예약 목록을 가져와서 배열로 반환
      ****************************************/
      function getReservateionList(date){
        //date가 없으면 오늘 날짜 기준으로 년 월 일
        if(!date){
          date = convertDateToString(new Date());
        }
        
        let res = [];
        $.ajax({
          async : false,
          url : '/manager/reservation/date',
          method : 'post',
          data : {date },
          success : data =>{
            res = data;
          }, error : e => console.log(e)
        })
        return res;
      }

      /***************************************
       * 함수 : 예약 내역리스트를 켈린더에 추가하기 위해 event들로 변환
      ****************************************/
      function getEvents(date){

        let list = getReservateionList(date);

        return list.map(res=>{
          let obj = convertReservationToObject(res)
          return {
            start: obj.date,
            end: obj.date,
            title : obj.title,
            backgroundColor: obj.color,
            borderColor: obj.color
          }
        })
      }
      /***************************************
       * 함수 : 예약 내역을 객체로 변환
      ****************************************/
      function convertReservationToObject(res){
        
        let date = convertArrayToDateString(res.res_time);
        let time = res.res_time.slice(3,5).join(":");
        let user = res.user.us_id;
        let res_state = res.res_state;
        let person = res.res_person;
        let state = res_state == 0 ? readyState : res_state == 1 ? confirmState : cancelState;
        let title = `${time} ${user}(${person}명) ${state}`;
        let color = colorList[res_state+1];
        return { date,time,title,color,state,user, res_state, person}
      }
  
      
      /***************************************
       * 캘린더 부분
      ****************************************/
      //캘린더를 그려줄 요소
			var calendarEl = document.getElementById('calendar'); 
      //캘린더 생성
			var calendar = new FullCalendar.Calendar(calendarEl, {
        locale: 'ko',
				initialView: 'dayGridMonth',
        //캘린더 헤더
        headerToolbar: {
          left: 'prev',
          center: 'title',
          right: 'next'
        },
        events: function(fetchInfo, success, fail){
          //보이는 달려의 년-월을 추출하기 위해 중앙 날짜를 계산
          const start = fetchInfo.start.getTime();//보이는 달력 시작일
          const end = fetchInfo.end.getTime();//보이는 달력 마지막일
          const centerTime = new Date((start + end) / 2); // 중앙 날짜

          const date = convertDateToString(centerTime);//날짜를 yyyy-MM로 변환
          let events = getEvents(date);//현재 달려을 기준으로 등록된 이벤트들을 가져옴
          success(events);//이벤트들을 화면에 출력
        },
        dayMaxEventRows: true, //최대 크기 설정
        dateClick: function(info) { //날짜 클릭 시
          viewModal(info)
        },
        eventClick: function(info) {
          const clickedDate = info.event.startStr;
          calendar.getOption('dateClick')({ dateStr: clickedDate });
        },
        titleFormat: { year: 'numeric', month: 'long' }, // 👈 YYYY-MM 형식
			});
			calendar.render(); //캘린더 렌더링(화면에 출력)
      
		</script>
	</main>
</body>
</html>