<!DOCTYPE html>
<html 
lang="ko" 
>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>mypage_index</title>
</head>
<body>
  
  <h1>찜</h1>
    
    <ul class="list-group">
      <th:block th:if="${#lists.isEmpty(freviews)}">
        <li class="list-group-item">찜한 리뷰가 없습니다.</li>
      </th:block>

      <th:block th:each="r : ${freviews}">
        <li class="list-group-item">
          <a th:href="@{/user/review/detail/{rev_num}(rev_num=${r.rev_num})}" class="text-decoration-none text-dark">
          <strong th:text="${r.rev_rt_num}">식당 번호</strong><br>
          
          <p th:text="${r.rev_content}">리뷰 내용</p>
          <small th:text="${#dates.format(r.rev_created, 'yyyy-MM-dd')}">작성일</small>
          </a>
        </li>
      </th:block>
    </ul>



</body>
</html>
