<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/admin}">Admin</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="mynavbar">
					<ul class="navbar-nav me-auto">
						<li class="nav-item" sec:authorize="!hasRole('ROLE_ADMIN')">
							<a class="nav-link" th:href="@{/admin/login}" th:classappend="${url == '/admin/login' ? 'active' : ''}">관리자 로그인</a>
						</li>
						<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
							<form th:action="@{/admin/logout}" method="post">
								<button class="btn nav-link">로그아웃</button>
							</form>
						</li>
						<li class="nav-item" sec:authorize="!hasRole('ROLE_ADMIN')">
							<a class="nav-link" th:href="@{/admin/signup}" th:classappend="${url == '/admin/signup' ? 'active' : ''}">관리자 회원가입</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>	
	<footer th:fragment="footer" class="">
		<div class="container py-4 bg-white border-top text-center" style="margin-top: 300px;">
			<div class="row">
				<div class="col-12 col-md">

					<div class="">
						<a class="fw-bold fs-4 text-dark text-decoration-none" href="/" style="text: size 10px;">
							TABLEUP
						</a>
						<!-- 저작권 표시 -->
						<small class="d-block text-body-secondary mt-2 mb-5">Copyright ⓒ tablemate Corp.</small>
					</div>
				</div>
			</div>
		</div>


	</footer>
</body>
</html>