<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<!--a
	<header th:fragment="header">
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/}">User</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="mynavbar">
					<ul class="navbar-nav me-auto">
						<li class="nav-item" sec:authorize="!hasRole('ROLE_USER')">
							<a class="nav-link" th:href="@{/user/login}" th:classappend="${url == '/user/login' ? 'active' : ''}">로그인</a>
						</li>
						<li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
							<form th:action="@{/user/logout}" method="post">
								<button class="btn nav-link">로그아웃</button>
							</form>
						</li>
						<li class="nav-item" sec:authorize="!hasRole('ROLE_USER')">
							<a class="nav-link" th:href="@{/user/signup}" th:classappend="${url == '/user/signup' ? 'active' : ''}">회원가입</a>
						</li>
						<li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
							<a class="nav-link" th:href="@{/user/mypage}" th:classappend="${url.startsWith('/user/mypage') ? 'active' : ''}">마이페이지</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/user/review/insert}" th:classappend="${url.startsWith('/user/review/insert') ? 'active' : ''}">리뷰 작성</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/user/review/view}" th:classappend="${url.startsWith('/user/review/view') ? 'active' : ''}">전체 리뷰</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/user/list}" th:classappend="${url.startsWith('/user/list') ? 'active' : ''}">리스트</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/user/list/detail/1}" th:classappend="${url.startsWith('/user/list/detail') ? 'active' : ''}">기본 상세페이지</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>	-->
		<footer th:fragment="footer" class="py-4 bg-white border-top text-center">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md">
						<small class="d-block mb-3 text-body-secondary">Copyright ⓒ tablemate Corp.</small>
					</div>
				</div>
			</div>
		</footer>
</body>
</html>