<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/manager}">Manager</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="mynavbar">
					<ul class="navbar-nav ms-auto">
						<!-- 예약 현황 -->
						<li class="nav-item" th:if="${restaurant != null}"   sec:authorize="hasRole('ROLE_MANAGER')">
							<a class="nav-link" th:href="@{/manager/reservation}" th:classappend="${url == '/manager/reservation' ? 'active' : ''}">예약 현황</a>
						</li>
						<!-- 예약 조회 -->
						<li class="nav-item" th:if="${restaurant != null}"  sec:authorize="hasRole('ROLE_MANAGER')">
							<a class="nav-link" th:href="@{/manager/reservation/reservationlist}" th:classappend="${url == '/manager/reservation/reservationlist' ? 'active' : ''}">예약 조회</a>
						</li>
						<li class="nav-item" sec:authorize="!hasRole('ROLE_MANAGER')">
							<a class="nav-link" th:href="@{/manager/login}" th:classappend="${url == '/manager/login' ? 'active' : ''}">로그인</a>
						</li>
						<li class="nav-item" sec:authorize="hasRole('ROLE_MANAGER')">
							<form th:action="@{/manager/logout}" method="post">
								<button class="btn nav-link">로그아웃</button>
							</form>
						</li>
						
					</ul>
					<!-- <form class="d-flex">
						<input class="form-control me-2" type="text" placeholder="Search">
						<button class="btn btn-primary" type="button">Search</button>
					</form> -->
				</div>
			</div>
		</nav>
	</header>	
		<footer th:fragment="footer" class="py-4 bg-white border-top text-center">
			<div class="container">
				<div class="row">
					<!-- 로고 및 저작권 -->
					<div class="col-12 col-md">
						<small class="d-block mb-3 text-body-secondary">Copyright ⓒ tablemate Corp.</small>
					</div>
				</div>
			</div>
		</footer>
		<!-- <script th:inline="javascript">
			document.addEventListener('DOMContentLoaded', function () {
				document.querySelectorAll('.reservation-link').forEach(function (link) {
					const hasRestaurant = link.dataset.hasRestaurant === 'true';
					if (!hasRestaurant) {
						link.addEventListener('click', function (e) {
							e.preventDefault();
							alert('매장 정보가 등록되지 않았습니다.\n먼저 매장 정보를 등록해주세요.');
						});
					}
				});
			});
		</script> -->
</body>
</html>